
.center {
  display: block;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#wrapper {
  padding-left: 100px;
}
#sidebar-wrapper {
  margin-left: -100px;
  width: 100px;
  background: #2a2e35;
  position: fixed;
  height: 100%;
  z-index: 1000;
}
li.w-100 a i {
  margin-left: -35px;
  font-size: 22px;
}
#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}
.sidebar-nav li a:hover {
    color: #27be80;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  text-indent: 20px;
  text-align: center;
}

.sidebar-nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
}


.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content {
    background: #191b1d;
    padding: 2em;
    padding-top: 0;
    min-height: 800px;
}
.fweight {
	font-weight: 400;
}

img.img-fluid.z-depth-1{
    border-radius: .25rem;
}


/*image hover play and other buttons*/
.img-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.thumbnail {
    display: block;
    margin-bottom: 20px;
    border-radius: 3px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.thumb{
    position: relative;
    display: block;
    text-align: center;
}

.thumb:hover>.overlay {
    background-color: rgba(0,0,0,.7);
    visibility: visible;
    opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}

.thumb:hover .overlay {
  opacity: 1;
}
.cursor-pointer {
  cursor: pointer;
}
.icon-play {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.icon-add:hover{
  color:#27be80;
}
.icon-add:visited{
  color:#27be80;
}
.icon-heart {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 20px;
  left: 17px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.icon-share {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 55px;
  left: 17px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.icon-add {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 90px;
  left: 17px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width:1200px) {
	.icon-heart {
  	font-size: 19px;
}
  .icon-share {
  	font-size: 19px;
}
  .icon-add {
 	font-size: 19px;
}
}
@media (max-width:767px) {
#sidebar-wrapper {
  margin-left: -50px;
  width: 50px;
  background: #2a2e35;
  position: fixed;
  height: 100%;
  z-index: 1000;
}
#wrapper {
  padding-left: 50px;
}
li a p.mb-0 {
	display: none;
}
li.w-100 a i {
	margin-left: -90px!important;
}
img.center {
    width: 35px;
    position: absolute;
    left: 7px;
}

.icon-heart {
  	font-size: 21px;
}
  .icon-share {
  	font-size: 21px;
}
  .icon-add {
 	font-size: 21px;
}

}

@media (max-width: 576px) {
	.icon-heart {
  font-size: 16px;
  left: 17px;
}
  .icon-share {
  font-size: 16px;
  left: 17px;
}
  .icon-add {
  font-size: 16px;
  left: 17px;
}
}


button.Rate__star.hover.filled {
  padding:7px 0!important;
}
.Rate__star[disabled] {
  padding:7px 0!important;
}
.Rate__star .icon{
  margin:3px!important;
}
.count{
  float: right;
  font-size: 12px;
  color: #6c757d!important;
  margin-top: 7px;
  padding-right: 35px!important;
}
.Rate__view.disabled {
  display: inline;
}




/*search bar*/
.active-cyan-4 input[type=text]:focus:not([readonly]) {
border: 1px solid #4dd0e1;
box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 input[type=text] {
border: 1px solid #4dd0e1;
box-shadow: 0 0 0 1px #4dd0e1;
}

.search-input {
  background-color: #2a2e35;
  border: 0!important;
  border-radius: 10px;
  color: white;  
}
.search-input:focus {
  outline: none;
  background-color: #3e434c;
}

.search-icon {
  color: white; 
  position: absolute;
  right: 25px;
  font-size: 25px; 
}


button{
  background: none!important;
  border: none!important;
  outline: none!important;
}