<template>
<div class="row">
	<div v-if="!Object.keys(movies).length">
	  <h3 class="text-white pt-4">There are no movies added yet...</h3>
	</div>
    <div
      class="col-lg-3 col-md-4 col-6 video movie-wrapper my-4"
      v-for="(movie,index) in movies"
      :key="index"
    >
      <div class="thumbnail">
        <div class="thumb">
          <img
            :src="'http://image.tmdb.org/t/p/original'+movie.poster_path"
            class="img-fluid z-depth-1"
          />
        </div>
      </div>
      <h6 class="mt-2 mb-0 fweight text-white">{{movie.title}}</h6>
      <p class="text-muted mb-0 d-inline">{{filterAndGetGenres(movie.genre_ids)}}</p>
      <!-- <p class="text-muted mb-0 d-inline float-right">{{movie.movieLength}}</p> -->
      <div class="clearfix">
         <star-rating :rating="movie.vote_average/2" :round-start-rating="false" :star-size="16" :read-only="true" :show-rating="false"></star-rating>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    movies() {
		if (localStorage.getItem('watchLater')) {
			return JSON.parse(localStorage.getItem('watchLater'));
		}
      	return {};
    }
  },
  methods: {
	filterAndGetGenres(array_of_id_genres) {
		var genres = JSON.parse(localStorage.getItem('genres'));
		var movies_to_return = "";
		for (let id in array_of_id_genres) {
			genres.map(el => {
			if (el.id == array_of_id_genres[id]) {
				movies_to_return += el.name + " ";
			}
			});
		}
		return movies_to_return;
	}
  }
};

</script>

<style scoped>
</style>