<template>
    <div>
        <h3 class="text-white pt-4">Watch movies by genres...</h3>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="css" scoped>

</style>