<template>
  <li class="w-100 py-3">
    <router-link :to="item.routerLink">
        <i :class="item.icon"></i>
        <p class="mb-0" style="margin-left: -15px">{{item.name}}</p>
    </router-link>
  </li>
</template>

<script>
export default {
  name: "ItemMenu",
  props: {
    item: {
      type: [Object]
    }
  },
  data() {
    return {};
  }
};
</script>

