<template>
    <div class="overlay">
        111111111111
        <!-- <div :class="iconList.divClass" data-toggle="modal">
            <i :class="iconList.iconClass"></i>
        </div> -->
    </div>
</template>

// <script>
// export default {
//   name: "Overlay",
//   props: {
//     item: {
//       type: [Object]
//     }
//   },
//   data() {
//     return {};
//   }
// };
// </script>



<style lang="css" scoped>

</style>