<template>
  <div class>
    <div class="row">
      <!-- Vue emit child parent -->
      <!-- this.$emit("movieSearched", this.fill) e shton te child -->
      <!-- v-on:movieSearched="searchForMovies" e shton te parent -->
      <h3 class="mt-4 text-white">MOVIE STORE</h3>
      <div class="position-relative col-12 my-4 d-flex align-items-center">
        <input
          placeholder="Search"
          class="search-input w-100 py-2 pl-2"
          type="text"
          @input="searchForMovies"
          v-model="fill"
        />
        <i class="search-icon fa fa-search"></i>
      </div>
      <div
        class="col-lg-2 col-md-3 col-6 video movie-wrapper mb-4"
        v-for="(movie,index) in movies"
        :key="index"
      >
        <div class="thumbnail">
          <div class="thumb">
            <img
              :src="'http://image.tmdb.org/t/p/original'+movie.poster_path"
              class="img-fluid z-depth-1"
              alt="video"
              data-toggle="modal"
            />
            <!-- <Overlay v-for="(icon,i) in iconLIst"
            :key = "i" /> -->
            <div class="overlay">
              <button class="icon-play" data-toggle="modal">
                <i class="fa fa-play-circle fa-3x cursor-pointer"></i>
              </button>
              <button class="icon-heart">
                <i class="fa fa-heart cursor-pointer"></i>
              </button>
              <button class="icon-share">
                <i class="fa fa-share-square cursor-pointer"></i>
              </button>
                <button class="icon-add" :id="'favoriteButton' + movie.id" @click="addMovieToWatchLater(movie)">
                  <i class="fa fa-plus-circle cursor-pointer"></i>
                </button>
            </div>
          </div>
        </div>
        <div
          class="modal fad"
          :id="'modal'+movie.movieId"
          role="dialog"
          tabindex="-1"
          aria-labeledby="myModlaLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body mb-0 p-0">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <iframe
                    class="embed-responsive-item"
                    :src="movie.movieVideo"
                    allowfullscreen
                    data-gtm-yt-inspected-2340190_699="true"
                    id="491746776"
                    data-gtm-yt-inspected-2340190_908="true"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h6 class="mt-2 mb-0 fweight text-white">{{movie.title}}</h6>
        <p class="text-muted mb-0 d-inline">{{filterAndGetGenres(movie.genre_ids)}}</p>
        <!-- <p class="text-muted mb-0 d-inline float-right">{{movie.movieLength}}</p> -->
        <div class="clearfix">
          <star-rating :rating="movie.vote_average/2" :round-start-rating="false" :star-size="16" :read-only="true" :show-rating="false"></star-rating>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Overlay from "./Overlay.vue";
export default {
  data() {
    return {
      movies: {},
      genres: [],
      searchResults: {},
      fill: "",
      watchLater: {}
    };
  },
  mounted() {
    if (localStorage.getItem('watchLater')) {
      this.watchLater = JSON.parse(localStorage.getItem('watchLater'));
    }
  },
  created() {
    this.getAllSortedMovies();
    this.searchForMovies();
  },
  methods: {
    saveLocalStorage() {
      const parsed = JSON.stringify(this.watchLater);
      localStorage.setItem('watchLater', parsed);

      const parsed2 = JSON.stringify(this.genres);
      localStorage.setItem('genres', parsed2);
    },
    getAllGenres() {
      axios
        .get(
          "https://api.themoviedb.org/3/genre/movie/list?api_key=451a5c46225283a9a3e766eee8fa80ac&language=en-US"
        )
        .then(response => {
          this.genres = response.data.genres;
        });
        
    },
    addMovieToWatchLater(movie) {
      // alert('Movie added to your list.')
      document.getElementById('favoriteButton' + movie.id).style.color = "#27be80";
      var temp = this.watchLater;
      var exists = Object.keys(temp).some(function(k) {
          return temp[k].id === movie.id;
      });
      if(!exists)
        this.watchLater[Object.keys(this.watchLater).length] = movie;

      this.saveLocalStorage();
    },
    getAllSortedMovies() {
      axios
        .get(
          "https://api.themoviedb.org/3/discover/movie?sort_by=popularity.desc&api_key=451a5c46225283a9a3e766eee8fa80ac"
        )
        .then(response => {
          this.movies = response.data.results;
          
        })
        .then(() => {
          this.getAllGenres();
        });
    },

    searchForMovies() {
      
      var URL_of_search =
        "https://api.themoviedb.org/3/search/movie?api_key=451a5c46225283a9a3e766eee8fa80ac&query=" +
        this.fill;

      if(!this.fill) 
        URL_of_search = "https://api.themoviedb.org/3/discover/movie?sort_by=popularity.desc&api_key=451a5c46225283a9a3e766eee8fa80ac";
      
      axios.get(URL_of_search).then(response => {
        this.movies = response.data.results;
      });  
    },

    filterAndGetGenres(array_of_id_genres) {
      var movies_to_return = "";
      for (let id in array_of_id_genres) {
        this.genres.map(el => {
          if (el.id == array_of_id_genres[id]) {
            movies_to_return += el.name + " ";
          }
        });
      }
      return movies_to_return;
    }
  }
};
</script>
