<template>
  <div class>
    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-6 video movie-wrapper mb-4"
        v-for="(movie,index) in searchResults"
        :key="index"
      >
        <a>
          <div class="thumbnail">
            <div class="thumb">
              <img
                :src="'http://image.tmdb.org/t/p/original'+movie.poster_path"
                class="img-fluid z-depth-1"
                alt="video"
                data-toggle="modal"
              />
              <div class="overlay">
                <div class="icon-play" data-toggle="modal">
                  <i class="fa fa-play-circle fa-3x cursor-pointer"></i>
                </div>
                <div class="icon-heart">
                  <i class="fa fa-heart cursor-pointer"></i>
                </div>
                <div class="icon-share">
                  <i class="fa fa-share-square cursor-pointer"></i>
                </div>
                <div class="icon-add">
                  <i class="fa fa-ellipsis-h cursor-pointer"></i>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div
          class="modal fad"
          :id="'modal'+searchResults.movieId"
          role="dialog"
          tabindex="-1"
          aria-labeledby="myModlaLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body mb-0 p-0">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <iframe
                    class="embed-responsive-item"
                    :src="searchResults.movieVideo"
                    allowfullscreen
                    data-gtm-yt-inspected-2340190_699="true"
                    id="491746776"
                    data-gtm-yt-inspected-2340190_908="true"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h6 class="mt-2 mb-0 fweight text-white">{{searchResult.title}}</h6>
        <p class="text-muted mb-0 d-inline">{{filterAndGetGenres(searchResult.genre_ids)}}</p>
        <p class="text-muted mb-0 d-inline float-right">{{searchResult.movieLength}}</p>
        <div class="clearfix">
          <rate
            :length="5"
            :value="searchResult.vote_average/2"
            :disabled="true"
            :showcount="true"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      movies: {},
      genres: [],
      searchResults: {}
    };
  },
  created() {
    this.getAllSortedMovies();
    this.getAllGenres();
    this.searchForMovies();
  },
  methods: {
    getAllGenres() {
      axios
        .get(
          "https://api.themoviedb.org/3/genre/movie/list?api_key=451a5c46225283a9a3e766eee8fa80ac&language=en-US"
        )
        .then(response => {
          console.log(response.data.genres);
          this.genres = response.data.genres;
        });
    },
    getAllSortedMovies() {
      axios
        .get(
          "https://api.themoviedb.org/3/discover/movie?sort_by=popularity.desc&api_key=451a5c46225283a9a3e766eee8fa80ac"
        )
        .then(response => {
          console.log(response.data.results);
          this.movies = response.data.results;
        });
    },
    searchForMovies() {
      axios
        .get(
          "https://api.themoviedb.org/3/search/movie?api_key=451a5c46225283a9a3e766eee8fa80ac&query=Jack+Reacher"
        )
        .then(response => {
          console.log("*****" + response.data.results);
          this.movies = response.data.results;
        });
    },
    filterAndGetGenres(array_of_id_genres) {
      var movies_to_retun = "";
      for (let id in array_of_id_genres) {
        this.genres.map(el => {
          if (el.id == array_of_id_genres[id]) {
            movies_to_retun += el.name + " ";
          }
        });
        return movies_to_retun;
      }
    }
  }
};
</script>