<template>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <nav class>
        <ul class="sidebar-nav nav" id="myList">
          <li class="sidebar-brand border-bottom border-dark">
            <a href>
              <img src="./assets/user.png" class="center" style="max-height: 45px" />
            </a>
          </li>
           <ItemMenu v-for="(item,index) in item_menu" 
                     :item="item" 
                     :key="index" />
        </ul>
      </nav>
    </div>
    <div id="app">
      <main>
        <div id="page-content-wrapper">
          <div class="content">
            <router-view></router-view>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import ItemMenu from "./components/ItemMenu.vue";
export default {
  name: "app",
  components: {
    ItemMenu
  },
  data() {
    return {
      item_menu: [
        {
          name: "POPULAR",
          icon: "fa fa-star",
          routerLink: "/"
        },
        {
          name: "WATCHLIST",
          icon: "fa fa-plus-circle",
          routerLink: "/favorites"
        },
        {
          name: "LATEST",
          icon: "fa fa-clock-o",
          routerLink: "/latest"
        },

        {
          name: "GENRES",
          icon: "fa fa-th",
          routerLink: "/genres"
        }
        
      ]
    };
  }
};
</script>

<style>
@import "./assets/css/style.css";

</style>
